#search-page-div {
  color: white;
}

#search-div {
  border: solid white 2px;
  margin: 0px 10px;
}

#search-title {
  margin-left: 10px;
  margin-top: 20px;
}

#search-text {
  color: white;
  margin-left: 10px;
}